{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
Add Products
{% endblock title %}

{% block main_content %}
<div class="container mt-4" >
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="margin-top: 90px;">
                <div class="card-header">
                    <h2 class="text-center mb-0">Add Project</h2>
                </div>

                <div class="card-body">
                    {% if message %}
                    <div id="alertMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                
                <script>
                    // JavaScript code to remove the alert after 2 seconds
                    document.addEventListener('DOMContentLoaded', function() {
                        setTimeout(function() {
                            var alertMessage = document.getElementById('alertMessage');
                            if(alertMessage) {
                                alertMessage.remove();
                            }
                        }, 2000); // 2000 milliseconds = 2 seconds
                    });
                </script>
                    <form method="post" action="/dashboard/Add-Products/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Project Name:</label>
                            <input type="text" class="form-control" id="title" name="ProjectName" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" name="category" required>
                                <option value="">Select Category</option>
                                {% for category in category_data %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label for="image">Image:</label>
                            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Add Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
